<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon"
              href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>UserName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Website</th>
                <th>Street</th>
                <th>Suite</th>
                <th>City</th>
                <th>ZipCode</th>
                <th>Geo-LAT</th>
                <th>Geo-LNG</th>
                <th>Company-Name</th>
                <th>Company-CatchPhrase</th>
                <th>Company-BS</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.userName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.website }}</td>
                    <td>{{ user.address.street }}</td>
                    <td>{{ user.address.suite }}</td>
                    <td>{{ user.address.city }}</td>
                    <td>{{ user.address.zipcode }}</td>
                    <td>{{ user.address.geo.lat }}</td>
                    <td>{{ user.address.geo.lng }}</td>
                    <td>{{ user.company.name }}</td>
                    <td>{{ user.company.catchPhrase }}</td>
                    <td>{{ user.company.bs }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>

